#container {
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	 color: white;
  text-shadow: 1px 1px 1px #333;
}

h1 {
  margin-top: 0;
  font-size: 36px;
}

#message {
  font-size: 24px;
}

#slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 0 auto;
}

.slot {
  width: 75px;
  height: 125px;
  margin: 0 10px;
  border: 2px solid #333;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
	 border-color: white;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-weight: bold;
  color: #333;
	color: white;
  text-shadow: 1px 1px 1px #333;
}

.spinning .symbol {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

#coins {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

input[type="number"] {
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
}

button[type="button"] {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #555;
}